<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
    <add name="xAdvertiser" connectionString="Database=xAdvertiser;Server=QA_UDB_XADVERTISER_SQL_PUB;User ID=Con_user;Password=W6j7L1d2g1; Application Name=sso_sync;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>